html,
body {
  height: 100%;

}

body,
.signin {
  background-color: #d3d3d3;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;


  .login {
    justify-content: center;
    height: 350px;
    width: 400px;
    margin: auto;
    padding: 60px 60px;
    background-color: #2f6c9e;
    background-size: cover;
    box-shadow: 0px 30px 60px -5px #24547c;
    border-radius: 30px;

    .login__header--active {
      border-bottom: 2px solid white;
    }

    .register__header {
      color: rgba(255, 255, 255, 0.5);
    }

    h2 {
      padding-left: 12px;
      font-size: 18px;
      text-transform: uppercase;
      padding-bottom: 5px;
      letter-spacing: 2px;
      display: inline-block;
      font-weight: 100;
    }

    h2:first-child {
      padding-left: 0px;
    }

    span {
      text-transform: uppercase;
      font-size: 12px;
      opacity: 0.4;
      display: inline-block;
      position: relative;
      top: -65px;
      transition: all 0.5s ease-in-out;
      color: white;
    }

    .input {
      border: none;
      width: 89%;
      padding: 10px 20px;
      display: block;
      height: 15px;
      border-radius: 20px;
      background: rgba(255, 255, 255, 0.1);
      border: 2px solid rgba(255, 255, 255, 0);
      overflow: hidden;
      margin-top: 15px;
      transition: all 0.5s ease-in-out;
    }

    .input:focus {
      outline: 0;
      border: 2px solid rgba(255, 255, 255, 0.5);
      border-radius: 20px;
      background: rgba(0, 0, 0, 0);
    }

    .input:focus+span {
      opacity: 0.6;
    }

    input[type="email"],
    input[type="password"] {
      font-family: 'Montserrat', sans-serif;
      color: #fff;
    }

    input {
      display: inline-block;
      padding-top: 20px;
      font-size: 14px;
      margin-top: 20px;
    }

    h2,
    span {
      margin-left: 20px;
    }

    .span {
      font-size: 14px;
    }

    label {
      display: inline-block;
      padding-top: 10px;
      padding-left: 5px;

    }

    .login__error {
      text-align: center;
      font-size: 14px;
      color: #FFF;
    }

    .login__button {
      background-color: #24547c;
      color: #FFF;
      width: 100%;
      padding: 10px 20px;
      display: block;
      height: 39px;
      border-radius: 20px;
      margin-top: 30px;
      transition: all 0.5s ease-in-out;
      border: none;
      text-transform: uppercase;
    }

    .login__button:hover {
      background: #24547c;
      box-shadow: 0px 4px 35px -5px #24547c;
      cursor: pointer;
    }

    .remove__button,
    .update__button {
      border: 1px solid white;
      color: white;
      text-align: right;
      font-style: inherit;
      margin-top: 25px;
      display: inline-block;
      padding: 3px 15px;
      border-radius: 20px;
    }

    .remove__button {
      margin-left: 15px;
    }

    .remove__button:hover,
    .update__button:hover {
      background: #24547c;
      box-shadow: 0px 4px 35px -5px #24547c;
      cursor: pointer;
    }


    #idUserName:hover,
    #idPassword:hover {
      cursor: cell;
    }

    .login__header--active:hover,
    .register__header:hover {
      cursor: pointer;
    }

    .login__button:focus {
      outline: none;
    }
  }
}