.change-credentials {
  text-align: center;
  font-family: 'Montserrat', sans-serif;

  &__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;   
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
   // border: 1px solid #900c3f;
    border-radius: 15px;  
    padding: 30px;      
    background-color:  #24547c;
    box-shadow: 0px 4px 35px -5px #24547c;
    font-size: 16px;
    color: #FFF;
    letter-spacing: 0.8px;  
    border-radius: 30px;
  }   

  &__input-group {
    margin-bottom: 15px;
    
  }

  &__label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;    
  }

  &__input {
    width: 350px;
    height: 35px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 20px;
    transition: border-color 0.3s ease;

    &:focus {
      outline: none;
      border-color: #900c3f;
    }
  }

  &__submit-button {
    background-color: #24547c;
    color: #FFF;
    width: 100%;
    padding: 10px 20px;
    display: block;
    height: 39px;
    border-radius: 20px;
    margin-top: 30px;
    transition: all 0.5s ease-in-out;
    border: none;
    text-transform: uppercase;
    border: 1px solid #ddd;

    &:hover {
      background: #134470;
      box-shadow: 0px 4px 35px -5px #5397cf;
      cursor: pointer;
    }
  }
}


