* {
   margin: 0;
   padding: 0;
}

header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 1;
}

body {
   font-family: Helvetica, Arial, sans-serif;
   padding: 0;
   margin: 0;
   background-color: #f2f8f7;
}

body {
   padding-top: 80px;
}

/* Section logo */
.section-logo .logo img {
   height: 52px;
   width: 100%;
   opacity: 2.8;
   margin: 0 0 10px 0;
}

/* Section main_menu */
div .section-main-menu {
   max-width: 1100px;
   padding: 0 20px;
   margin: 0 auto;
}

/* Navigation */
// Hide the checkbox and label
#dws-menu,
header label {
   display: none;
}

header nav,
header .leb-menu {
   background-color: #2f6c9e; 
}

.menu {
   z-index: 100;
   display: flex;
   justify-content: space-between; // straightens elements along line X
   align-items: center; // straightens elements along line y

   .section-logo .logo {
      height: 55px;
      width: 55px;
   }

   .section-main-menu ul {
      margin: 0;
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: center;

      li:hover {
         background: rgba(0, 0, 0, 0.3);
      }

      li a {
         display: block;
         padding: 15px 15px;
         color: #fff;
         text-decoration: none;
         text-transform: uppercase;
         font-size: 16px;
      }
   }

   .badge-wrapper {
      position: relative;
      display: inline-block;
      padding-right: 20px;

      .badge-wrapper__shopping-cart-icon {
         font-size: 15px;
         cursor: pointer;
      }

      .badge {
         position: absolute;
         top: -10px;
         right: 10px;
         width: 20px;
         height: 20px;
         border-radius: 50%;
         background-color: red;
         color: white;
         font-size: 10px;
         font-weight: bold;
         display: flex;
         justify-content: center;
         align-items: center;
      }
   }

   .menu-container__global .menu-container .card-details {
      padding: 10px;
      width: 8 rem;
      position: absolute;
      top: 55px;
      right: -10px;
      z-index: 100;
      color: black;

      table {
         border: 1px solid white;
         box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);   
           
         thead{
            font-size: 15px;
         }        
          
         td {
            padding: 5px;
            font-size: 15px;

            img {
               width: 5rem;
               height: 5rem;
            }
         }

         .trash {
            color: red;
            font-size: 15px;
            cursor: pointer;
            padding: 10px;
         }
      }

      .price-total,
      .price-total__sum {
         font-size: 15px;
         color: red;
         font-style: italic;
      }

      .close-icon{         
            position: absolute;
            top: 2px;
            right: 20px;
            font-size: 15px;
            cursor: pointer;              
      }

      .paragraph-empty-card{
         font-size: 22px;         
      }

      .emptycart-img{
          width: 3rem;
          height: 3rem;
          padding: 10px;     
       }
   }

   .section-social-networks {
      background-color: #2f6c9e;
      box-sizing: border-box;
      height: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-left: 1px solid white;

      button {
         border: none;
         padding: 0;
         width: 25px;
         height: 25px;

         img {
            width: 25px;
            height: 25px;
            transition: all 2.5s linear;

            &:hover {
               cursor: pointer;
               opacity: 0.5;
               scale: 125%;
            }
         }
      }
   }
}

/*===== MEDIA ======*/
header label:hover {
   cursor: pointer;
   background: rgba(0, 0, 0, 0.3);
}

@media all and (max-width: 980px) {
   header label {
      display: block;
      width: 30px;
      height: 30px;
      padding: 10px;
      border-right: 1px solid #fff;
   }

   #dws-menu:checked~.menu {
      margin: 0px;

      .section-social-networks {
         border-top: 1px solid white;
      }
   }

   .menu {
      display: block;
      position: absolute;
      width: 200px;
      margin-left: -200px;
      transition: all 0.5s;

      .section-logo .logo {
         display: none;
      }
      .badge-wrapper, .menu-container__global{
         display: none;
      }

      .section-main-menu {
         padding: 0;

         ul {
            flex-direction: column;

            li {
               border-top: 1px solid #fff;

               a {
                  font-size: 14px;
                  padding: 15px 10px;
               }
            }
         }
      }

      .section-social-networks {
         justify-content: space-around;
      }

   }
}

@media all and (max-width: 800px) {
   .menu {
      display: block;
   }
}

@media all and (max-width: 650px) {
   //small monitor
   .menu {
      display: block;
   }
}